@model IEnumerable<HelloWorldReact.Models.GENRE.GENRE_OBJ>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Danh sách bộ môn</h2>

<p>
    @Html.ActionLink("Thêm mới", "Create")
</p>

@*<span>Tìm kiếm</span>
<input type="text" id="search"/>

<script src="~/Scripts/jquery-1.10.2.js"></script>

<script>
    $(document).ready(function () {
        $("#search").onchange(function () {
            var search = $("#search").val();
            oFacultyTable = $('#tbl').dataTable({
                "bJQueryUI": true,
                "bServerSide": true,
                "sAjaxSource": "/FacultyController/MasterDetailsAjaxHandler",
                "fnServerParams": function (aoData) {
                    aoData.push({ "name": "search", "value": search });
                }
            });
        });
    });
</script>*@

<table class="table" id="tbl">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CODEVIEW)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GENRENAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GENREDESCRIPTION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FACULTYCODE)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CODEVIEW)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GENRENAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GENREDESCRIPTION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FACULTYCODE)
        </td>
        <td>
            @Html.ActionLink("Sửa", "Edit", new { id=item.CODEVIEW }) |
            @Html.ActionLink("Xóa", "Delete", new { id = item.CODEVIEW })
        </td>
    </tr>
}

</table>
