@model HelloWorldReact.Models.FACULTY.FACULTY_OBJ

@{
    ViewBag.Title = "Thêm mới";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Thêm mới</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Nhập thông tin khoa</h4>
        <hr />
        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.LabelFor(model => model.CODEVIEW, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CODEVIEW)
                @Html.ValidationMessageFor(model => model.CODEVIEW)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FACULTYNAME, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FACULTYNAME)
                @Html.ValidationMessageFor(model => model.FACULTYNAME)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FACULTYDESCRIPTION, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FACULTYDESCRIPTION)
                @Html.ValidationMessageFor(model => model.FACULTYDESCRIPTION)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Quay lại", "Index")
</div>
