@model HelloWorldReact.Models.FACULTY.FACULTY_OBJ

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Xóa</h2>

<h3>Bạn chắc chắn muốn xóa?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CODEVIEW)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CODEVIEW)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FACULTYNAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FACULTYNAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FACULTYDESCRIPTION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FACULTYDESCRIPTION)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Quay lại", "Index")
        </div>
    }
</div>
